%h1
  Your tasks today

%ul
  - @root_tasks.each do |root_task|
    - doable_task = root_task.choose_doable_leaf_task

    %li.task
      %ul.breadcrumb
        - task_path = doable_task.self_and_ancestors.reverse

        - task_path.each_with_index do |task, i|
          %li{ data: {id: task.id }}
            = link_to(task.name, task_path(task), data: { name: 'show' })

            - if i == task_path.length - 1
              &ndash;
              = link_to("Mark as done", mark_as_done_task_path(task),
                  data: { name: 'mark-as-done' }, method: :put)

= link_to 'Add root task', new_task_path, class: 'add-task btn btn-default'
