%h1
  Your tasks today

%ul.row.list-unstyled
  - @root_tasks.each do |root_task|
    - doable_task = root_task.choose_doable_leaf_task

    %li.column.task{ data: {id: doable_task.id }}
      = render 'layouts/breadcrumb', task: doable_task

      = render '/tasks/summary', task: doable_task

= link_to 'Add root task', new_task_path, class: 'add-task btn btn-default'
