= link_to 'Edit', edit_task_path(task), class: 'edit-task-link'
|
= link_to 'Mark as done', mark_as_done_task_path(task), method: :put
|
= link_to 'Add child task', new_task_child_task_path(task), class: 'add-child-task-link'
