- if task.ancestors.any?
  %ul.breadcrumb
    - task.ancestors.reverse.each do |ancestor|
      %li.ancestor{ data: { id: ancestor.id }}
        = link_to(ancestor.name, task_path(ancestor), class: 'task-link')
